# Macro paramters:
#   $(P)        - PV name prefix
#   $(H)        - Hexapod name (e.g. "HXP1:")
#   $(PORT)     - asyn port for this controller
#   $(ADDR)     - asyn addr for this hexapod (the hexapod index, 0..MAX_AUTOMATION1_HEXAPODS-1)
#   $(TIMEOUT)  - asyn timeout
#

##############################################################
# Hexapod state readback
##############################################################
record(mbbi, "$(P)$(H)State_RBV")
{
    field(DESC, "Hexapod state")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=4))AUTOMATION1_HXP_STATE")
    field(SCAN, "I/O Intr")
    field(ZRVL, "0")
    field(ZRST, "Reset")
    field(ONVL, "1")
    field(ONST, "Enabled")
    field(TWVL, "2")
    field(TWST, "Fault")
    field(THVL, "3")
    field(THST, "Disabled")
    field(FRVL, "4")
    field(FRST, "Strut")
}

##############################################################
# Hexapod mode readback
##############################################################
record(mbbi, "$(P)$(H)Mode_RBV")
{
    field(DESC, "Hexapod mode")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=4))AUTOMATION1_HXP_READ_MODE")
    field(SCAN, "I/O Intr")
    field(ZRVL, "0")
    field(ZRST, "Disabled")
    field(ONVL, "1")
    field(ONST, "Local")
    field(TWVL, "2")
    field(TWST, "Global")
    field(THVL, "3")
    field(THST, "Strut")
}

##############################################################
# Hexapod mode setpoint
##############################################################
record(mbbo, "$(P)$(H)Mode")
{
    field(DESC, "Hexapod mode setpoint")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=4))AUTOMATION1_HXP_WRITE_MODE")
    field(SCAN, "Passive")
    field(PINI, "NO")
    field(ZRVL, "0")
    field(ZRST, "Disabled")
    field(ONVL, "1")
    field(ONST, "Local")
    field(TWVL, "2")
    field(TWST, "Global")
}

##############################################################
# Hexapod coordinated move records
##############################################################
record(bo,"$(P)$(H)MOVE_ALL") {
    field(DESC,"Move all motors")
    field(DTYP,"asynInt32")
    field(ZNAM,"Off")
    field(ONAM,"On")
    field(VAL, "0")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_MOVE_ALL")
}

record(bo,"$(P)$(H)MOVE_ALL_MODE") {
    field(DESC,"MoveAll target mode")
    field(DTYP,"asynInt32")
    field(ZNAM,"Incremental")
    field(ONAM,"Absolute")
    field(VAL, "1")
    field(PINI,"YES")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_MOVE_ALL_MODE")
}

record(ao,"$(P)$(H)TX") {
    field(DESC,"X target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_X")
    field(PREC,"5")
    field(VAL, "0.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)TY") {
    field(DESC,"Y target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_Y")
    field(PREC,"5")
    field(VAL, "0.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)TZ") {
    field(DESC,"Z target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_Z")
    field(PREC,"5")
    field(VAL, "12.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)TA") {
    field(DESC,"A target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_A")
    field(PREC,"5")
    field(VAL, "0.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)TB") {
    field(DESC,"B target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_B")
    field(PREC,"5")
    field(VAL, "0.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)TC") {
    field(DESC,"C target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_C")
    field(PREC,"5")
    field(VAL, "0.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)VEL") {
    field(DESC,"Coord move velocity")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_VELOCITY")
    field(PREC,"5")
    field(VAL, "0.5")
    field(PINI,"YES")
}

### Records for automatically updating move all targets when the target mode changes

record(bo,"$(P)$(H)AUTO_TARGET_SYNC") {
    field(DESC,"MoveAll target sync")
    field(ZNAM,"Disabled")
    field(ONAM,"Enabled")
    field(VAL, "1")
    field(PINI,"YES")
}

record(calcout, "$(P)$(H)INC_TARGET_CALC") {
    field(DESC, "Inc target sync calc")
    field(INPA, "$(P)$(H)MOVE_ALL_MODE CP NMS")
    field(CALC, "A=0")
    field(OOPT, "Transition To Non-zero")
    field(DOPT, "Use CALC")
    field(OUT,  "$(P)$(H)INC_TARGET_SYNC.PROC PP NMS")
    # The following two lines are responsible for disabling the automatic syncing
    field(SDIS, "$(P)$(H)AUTO_TARGET_SYNC NPP NMS")
    field(DISV, "0")
}

# In incremental mode all the targets, which are displacements, are set to zero
# so that a coordinated move without manually-updated targets results in no motion.
record(dfanout, "$(P)$(H)INC_TARGET_SYNC") {
    field(DESC, "Inc target sync")
    field(OMSL, "supervisory")
    field(VAL,  "0.0")
    field(SELM, "All")
    field(OUTA, "$(P)$(H)TX.VAL PP NMS")
    field(OUTB, "$(P)$(H)TY.VAL PP NMS")
    field(OUTC, "$(P)$(H)TZ.VAL PP NMS")
    field(OUTD, "$(P)$(H)TA.VAL PP NMS")
    field(OUTE, "$(P)$(H)TB.VAL PP NMS")
    field(OUTF, "$(P)$(H)TC.VAL PP NMS")
    field(PREC, "5")
    # Prevent syncing when the target move mode is wrong
    field(SDIS, "$(P)$(H)MOVE_ALL_MODE NPP NMS")
    field(DISV, "1")
}

record(calcout, "$(P)$(H)ABS_TARGET_CALC") {
    field(DESC, "Abs target sync calc")
    field(INPA, "$(P)$(H)MOVE_ALL_MODE CP NMS")
    field(CALC, "A=1")
    field(OOPT, "Transition To Non-zero")
    field(DOPT, "Use CALC")
    field(OUT,  "$(P)$(H)ABS_TARGET_SYNC.PROC PP NMS")
    # The following two lines are responsible for disabling the automatic syncing
    field(SDIS, "$(P)$(H)AUTO_TARGET_SYNC NPP NMS")
    field(DISV, "0")
}

# In absolute mode all the targets are set to the motor record's user target position
# so that a coordinated move without manually-updated targets results in no motion.
record(seq, "$(P)$(H)ABS_TARGET_SYNC") {
    field(DESC, "Abs target sync")
    field(SELM, "All")
    field(DOL0, "$(P)$(M1).VAL NPP NMS")
    field(DOL1, "$(P)$(M2).VAL NPP NMS")
    field(DOL2, "$(P)$(M3).VAL NPP NMS")
    field(DOL3, "$(P)$(M4).VAL NPP NMS")
    field(DOL4, "$(P)$(M5).VAL NPP NMS")
    field(DOL5, "$(P)$(M6).VAL NPP NMS")
    field(LNK0, "$(P)$(H)TX.VAL PP NMS")
    field(LNK1, "$(P)$(H)TY.VAL PP NMS")
    field(LNK2, "$(P)$(H)TZ.VAL PP NMS")
    field(LNK3, "$(P)$(H)TA.VAL PP NMS")
    field(LNK4, "$(P)$(H)TB.VAL PP NMS")
    field(LNK5, "$(P)$(H)TC.VAL PP NMS")
    field(PREC, "5")
    # Prevent syncing when the target move mode is wrong
    field(SDIS, "$(P)$(H)MOVE_ALL_MODE NPP NMS")
    field(DISV, "0")
}
