# Macro paramters:
#   $(P)        - PV name prefix
#   $(H)        - Hexapod name (e.g. "HXP1:")
#   $(PORT)     - asyn port for this controller
#   $(ADDR)     - asyn addr for this hexapod (the hexapod index, 0..MAX_AUTOMATION1_HEXAPODS-1)
#   $(TIMEOUT)  - asyn timeout
#

##############################################################
# Hexapod state readback
##############################################################
record(mbbi, "$(P)$(H)State_RBV")
{
    field(DESC, "Hexapod state")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=4))AUTOMATION1_HXP_STATE")
    field(SCAN, "I/O Intr")
    field(ZRVL, "0")
    field(ZRST, "Reset")
    field(ONVL, "1")
    field(ONST, "Enabled")
    field(TWVL, "2")
    field(TWST, "Fault")
    field(THVL, "3")
    field(THST, "Disabled")
    field(FRVL, "4")
    field(FRST, "Strut")
}

##############################################################
# Hexapod mode readback
##############################################################
record(mbbi, "$(P)$(H)Mode_RBV")
{
    field(DESC, "Hexapod mode")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=4))AUTOMATION1_HXP_READ_MODE")
    field(SCAN, "I/O Intr")
    field(ZRVL, "0")
    field(ZRST, "Disabled")
    field(ONVL, "1")
    field(ONST, "Local")
    field(TWVL, "2")
    field(TWST, "Global")
    field(THVL, "3")
    field(THST, "Strut")
}

##############################################################
# Hexapod mode setpoint
##############################################################
record(mbbo, "$(P)$(H)Mode")
{
    field(DESC, "Hexapod mode setpoint")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT=4))AUTOMATION1_HXP_WRITE_MODE")
    field(SCAN, "Passive")
    field(PINI, "NO")
    field(ZRVL, "0")
    field(ZRST, "Disabled")
    field(ONVL, "1")
    field(ONST, "Local")
    field(TWVL, "2")
    field(TWST, "Global")
}

##############################################################
# Hexapod coordinated move records
##############################################################
record(bo,"$(P)$(H)MOVE_ALL") {
    field(DESC,"Move all motors")
    field(DTYP,"asynInt32")
    field(ZNAM,"Off")
    field(ONAM,"On")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_MOVE_ALL")
}

record(ao,"$(P)$(H)TX") {
    field(DESC,"X target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_X")
    field(PREC,"5")
    field(VAL, "0.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)TY") {
    field(DESC,"Y target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_Y")
    field(PREC,"5")
    field(VAL, "0.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)TZ") {
    field(DESC,"Z target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_Z")
    field(PREC,"5")
    field(VAL, "12.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)TA") {
    field(DESC,"A target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_A")
    field(PREC,"5")
    field(VAL, "0.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)TB") {
    field(DESC,"B target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_B")
    field(PREC,"5")
    field(VAL, "0.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)TC") {
    field(DESC,"C target pos")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_TARGET_C")
    field(PREC,"5")
    field(VAL, "0.0")
    field(PINI,"YES")
}

record(ao,"$(P)$(H)VEL") {
    field(DESC,"Coord move velocity")
    field(DTYP,"asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR))AUTOMATION1_HXP_VELOCITY")
    field(PREC,"5")
    field(VAL, "0.5")
    field(PINI,"YES")
}
